/* alle finden und noch die class abstand dazu geben */
.text-block,
.info-container-plant,
.anbau,
.info-container-cafe,
.bauern {
  margin: auto 24px 40px;
  /* margin-bottom: 40px; */
}

.text-bild {
  width: calc(100% -48px);
}

.text-block{
  display: flex;
  flex-direction: column;

  h2{
    margin: 0;
    margin-bottom: 1rem;
  }
  p {
     max-width: 55ch;
     font-size: 1.125rem;
  }
}

@media (min-width: 992px) {
  .info-container-cafe, .text-bild {
    display: flex;
    /* max-width: calc(100% -96px); */
    width: 90%;
    padding-bottom: 120px;
  }
  .text-block {
    display: flex;
    justify-content: center;
    
    p {
      max-width: 60ch;
   }
  }
}

.center{
  display: flex;
  justify-content: center;
  /* padding: 0;
  margin: 0; */
} 

.abstand {
  margin-left: 23px;
  margin-right: 23px;

  @media(min-width: 992px){
  margin-left: 5%;
  margin-right: 5%;

  }
}

.flex-container{
  display: flex;
}