#hero {
  color: white;
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("/images/latte-art-3.png"), lightgray 50%;
  height: 75vh;
  background-position: center;
  background-size: cover;
  @media (min-width: 992px) {
    height: 65vh;
  }
}

.hero-title {
  font-size: var(--fs-700);
  text-align: center;
  margin-top: 20.720720720721vh;
  margin-bottom: 0;
  line-height: 1.1;
  font-weight: var(--h-font-weight);
  @media (min-width: 992px) {
    margin-top: calc(30.368vh - 105.6px);
  }
}

.hero-subtitle {
  text-align: center;
  font-weight: 900;
  margin: auto;
  margin-bottom: 15.465465465465vh;
  font-size: 1.125rem;
  @media (min-width: 992px) {
    margin-bottom: 13.127753303965vh;
  }
}

.hero-herkunft-seite {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("/images/beans-hand-2.png"), lightgray 50%;
  height: 56.3vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;
}

.hero-cafe {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("/images/shop.png"), lightgray 50%;
  height: 56.3vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;
}
