.main{
    background-color: black;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: 0;
}

.menue-items {
    position: absolute;
    top: 30%;
    left: 20%;
}

#menu {
    display: none;
    background-color: black;
    min-height: 100%;
    width: 100%;
    position: absolute;
}

#menu-open {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }