

.info {
    color: var(--anthrazit);
    padding: 3.75rem 0 2.5rem;

    h2{
        margin: 0;
    }
}
/* .info {
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    @media(min-width:992px){
        display: flex;
    padding: 1rem 6.25rem 1rem 6.25rem;
    }
    

}*/



.info-coffee {
    display: block;
    width:73.71%;
    margin-left: auto;
    margin-top: 2.5rem;
}

.info-plant {
    width: 73.71%;
}


.info-ort, .info-zeit {
    display: inline-block;
    margin: 0;
}

.info-ort {
    margin-right: 1.063rem;
}

.info-text{
    margin: 20px 0;
}
.info-mehr{
    display: none;
    
} 

@media(min-width:992px){
    .info {
        padding: 124px  0 125px ;
    }

    .info-plant-text{
        padding-top: 50px;
    }

    .info-container-plant {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 77%;
        padding-left: 5%;

        p{
            max-width: 40ch;
        }
        
    }

    .info-text {
        align-self: flex-start;
    }

    .info-coffee {
        margin: auto;
        margin-right: 0;
        width:607px;
        align-self: flex-end;
    }

    .info-plant {
        width:612px;
    }

    .info-mehr {
        display: block;
    }
}