.sorten {
    color:var(--white);
    background-color: var(--anthrazit);
    padding: 3.75rem 0;

    
}

.sorten-h2{
        margin: 0 auto 40px 21px;
        font-size: var(--fs-600);
        font-weight: var(--h-font-weight);
        line-height: var(--h-line-height);
    }

.sorten-container{
    margin: auto 1.563rem 2.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    @media(min-width:992px){
        display: flex;
    }
}

.sorten-kaffee{
    margin: 0.5rem;
}

.bohnen{
    width: 12px;
    height: 14px;
}

.french {
    width: 10px;
    height: 12px;
}

.schaufel{
    width: 12px;
    height: 13px;
}

.sorte-tuete {
    background-color: white;
}

.sorten-titel {
    margin: 0;
    margin-top: 11px;
}

.sorten-preis {
    margin: 0;
    margin-bottom: 6px;
    color: var(--medium-grey);
}

.sorten-button {
    width: fit-content;
    margin: auto;
    padding: 15px 50px;
    border: 3px solid white;
    border-radius: 5px;
    border-radius: 5px;
    background-color: var(--anthrazit);
    font-size: 0.875rem;
}