.testing * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galerie-container{
    margin: 7%;
    display: grid;
    gap: 10px 10px;
    
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));

    @media(min-width:700px){
        grid-template-columns: repeat(auto-fit, minmax(155px, calc(25% - 17px)));
    }
}

.tall {
    grid-row: span 2;
}

.galerie-container > div > img {
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    object-fit: cover;

}

.galerie-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}