<footer>
  <div class="footer">
    <div class="footer-head">
      <img class="footer-logo" src="/images/logo.svg" alt="Logo" />
      <h3>Rustica</h3>
      <p>Café & Rösterei</p>
    </div>
    <div class="footer-daten">
      <p class="info-ort"><span class="footer-besuch">Komm uns besuchen!<br></span>Fraunhoferstr. 13, Kiel</p>
      <p class="info-zeit">Mo – Fr 8–18 Uhr<br />Sa 11–18 Uhr</p>
    </div>
    <div class="footer-inhalt">
      <a href="">Café</a>
      <a href="">Shop</a>
      <a href="">Herkunft</a>
    </div>
    <div class="footer-rechtliches">
      <a href="">Impressum</a>
      <a href="">Datenschutz</a>
    </div>
  </div>
</footer>