<div class="map-div">
    <h2 class="map-text">Komm vorbei</h2>
    <iframe class="map" src="https://www.openstreetmap.org/export/embed.html?bbox=10.11970102787018%2C54.34072911229825%2C10.124722123146059%2C54.34275552777698&amp;layer=mapnik&amp;marker=54.34174233252414%2C10.122211575508118" style="border: 1px solid black"></iframe>
</div>