<section id="menu">
  <button class="close" onclick="menuClose()"><img
      src="/images/Burger Menu close.svg"
      alt=""
    /></button>
  <div class="menue-items">
    <a href="/sub-page/cafe.html"><h3>das Café</h3></a>
    <a href="/sub-page/herkunft.html"><h3>Herkunft</h3></a>
    <a href="/shop/shop.html"><h3>Shop</h3></a>
    <button class="button-cart"><h3>Warenkorb</h3></button>
  </div>
</section>