<section>
  <button class="close"><img
      class="close"
      src="/images/Burger Menu close.svg"
      alt=""
    /></button>
  <div class="menue-items">
    <a href="/sub-page/cafe.html"><h3>das Café</h3></a>
    <a href="/sub-page/herkunft.html"><h3>Herkunft</h3></a>
    <a href="/sub-page/shop.html"><h3>Shop</h3></a>
  </div>
</section>