<div class="hero-nav">
  <a href="/index.html">
    <img
      class="hero-logo dunkel"
      src="/images/logo.svg"
      alt="Home"
    />
  </a>
  <div>
    <div class="hero-nav-items dunkel">
      <a href="/sub-page/cafe.html">das Café</a>
      <a class="hero-herkunft dunkel" href="/sub-page/herkunft.html">Herkunft<div
          class="line dunkel"
        ></div></a>
      <a class="hero-shop dunkel" href="/sub-page/shop.html">Shop</a>
      <img class="hero-shop-icon dunkel" src="/images/shop.svg" alt="shop icon" />
    </div>
    <a href="/sub-page/menue.html"><img
        class="hero-menu dunkel"
        src="/images/Burger Menu.svg"
        alt="Menü"
      /></a>
  </div>
</div>