<div class="hero-nav">
  <img
    class="hero-logo"
    src="/images/logo.svg"
    alt="minimalistic logo with a coffee bean"
  />
  <div>
    <div class="hero-nav-items">
      <a href="/sub-page/cafe.html">das Café</a>
      <a class="hero-herkunft" href="/sub-page/herkunft.html">Herkunft<div
          class="line"
        ></div></a>
      <a class="hero-shop">Shop</a>
    <img class="hero-shop-icon" src="/images/shop.svg" alt="shop icon" />
    </div>
    <a href="/sub-page/menue.html"><img
        class="hero-menu"
        src="/images/Burger Menu.svg"
        alt="Menü"
      /></a>
  </div>
</div>