<div class="info-container-cafe">
  <div>
    <h2>Rösterei und Café</h2>
    <p class="info-text">
      Kaffee aus Kiel, direkt gehandelt und geröstet in der eigenen Rösterei,
      serviert im gemütlichen Café in der Innenstadt.
    </p>
    <p class="info-ort">Komm vorbei!<br />Fraunhoferstr. 13, Kiel</p>
    <p class="info-zeit">Mo – Fr 8–18 Uhr<br />Sa 11–18 Uhr</p>
  </div>
  <img
    class="info-coffee"
    src="/images/shop.png"
    alt="das Innere eines Cafes"
  />
</div>