<section class="sorten">
        <h2 class="sorten-h2">Entdecke unsere<br />Kaffee Sorten</h2>
        <div class="sorten-container">
          <div class="sorten-kaffee">
            <img
              class="sorte-tuete"
              src="/images/Kaffeetuete.png"
              alt="Kaffeetüte"
            />
            <p class="sorten-titel">Costa Rica</p>
            <p class="sorten-preis">6,90€-26,90€</p>
            <img class="icon bohnen" src="/images/Bohnen.svg" alt="" />
            <img class="icon french" src="/images/French_Press.svg" alt="" />
            <img class="icon schaufel" src="/images/Schaufel.svg" alt="" />
          </div>
          <div class="sorten-kaffee">
            <img
              class="sorte-tuete"
              src="/images/Kaffeetuete.png"
              alt="Kaffeetüte"
            />
            <p class="sorten-titel">Äthiopien</p>
            <p class="sorten-preis">6,90€-26,90€</p>
            <img class="icon bohnen" src="/images/Bohnen.svg" alt="" />
            <img class="icon french" src="/images/French_Press.svg" alt="" />
            <img class="icon schaufel" src="/images/Schaufel.svg" alt="" />
          </div>
          <div class="sorten-kaffee">
            <img
              class="sorte-tuete"
              src="/images/Kaffeetuete.png"
              alt="Kaffeetüte"
            />
            <p class="sorten-titel">Costa Rica</p>
            <p class="sorten-preis">6,90€-26,90€</p>
            <img class="icon bohnen" src="/images/Bohnen.svg" alt="" />
            <img class="icon french" src="/images/French_Press.svg" alt="" />
            <img class="icon schaufel" src="/images/Schaufel.svg" alt="" />
          </div>
          <div class="sorten-kaffee">
            <img
              class="sorte-tuete"
              src="/images/Kaffeetuete.png"
              alt="Kaffeetüte"
            />
            <p class="sorten-titel">Äthiopien</p>
            <p class="sorten-preis">6,90€-26,90€</p>
            <img class="icon bohnen" src="/images/Bohnen.svg" alt="" />
            <img class="icon french" src="/images/French_Press.svg" alt="" />
            <img class="icon schaufel" src="/images/Schaufel.svg" alt="" />
          </div>
        </div>
        <p class="button-hell">
          <span><a>alle Produkte</a></span>
        </p>
      </section>