:root {
  /* Colors */
  --div-color: white;
  --white: #FFFFFF;
  --anthrazit: #1A1A1A;
  --beige: #D7BE9D;
  --petrol: #006D7E;
  --rosa: #EDD1C9;
  --orange: #D77C12;
  --dark-grey: #3A3734;
  --medium-grey: #737373;
  --light-grey: #E9E9E9;
  --white-filter: invert(100%) sepia(12%) saturate(0%) hue-rotate(344deg) brightness(115%) contrast(100%);
  --black-filter: brightness(0) saturate(100%);


  /* Text Styles */
  --h-font-weight:900;
  --h-line-height:1.1;
  --p-line-height:1.3;
  --fs-700: 4rem; /*64px*/
  --fs-600: 2.25rem; /*36px*/
  --fs-500: 2rem; /*32px*/
  --fs-400: 0.875rem; /*14px*/

  @media(min-width: 992px){
    --fs-700: 6rem; /*64px*/
    --fs-600: 3rem; /*46px*/
    --fs-500: 2.625rem; /*42px*/
    --fs-400: 1.125rem; /*18px*/
  }
}