.bauern{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.bauern img {
    width: 44.1%;
    padding-top: 110px;
}

.bauern-text{
    h2{
        width: 80%;
        margin: 0 0 15px;
    }
}