.bauern {
  @media (min-width: 992px) {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 100px;
  }
}

.bauern img {
  display: block;
  width: 73.71%;
  margin-top: 2.5rem;
  @media (min-width: 992px) {
    width: 44.1%;
    padding-top: 110px;
  }
}

.bauern-text {
  @media (min-width: 992px) {
    h2 {
      width: 80%;
      margin: 0 0 15px;
    }
  }
}
